{% extends "agrosealapp/base_generic.html" %}
{% block content %}
    <h1>Add New Company</h1>
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form method="POST" class="">
                {% csrf_token %}
                <table class="table">
                    {{form.as_table}}
                </table>
                <button class="btn btn-primary" type="submit">Add New Company</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
